@model Click_Cart.Models.Product

@* @{ *@
@*     ViewData["Title"] = "Register"; *@
@* } *@

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card shadow border-0 mt-4 col-6">
        @* <div class="card shadow border-0 mt-4" style="margin-bottom:80px"> *@
        <div class="card-header bg-primary bg-gradient ">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-center text-white mt-2">Add Product</h1>
                </div>
            </div>

        </div>
        <div class="card-body p-4">
            <form method="post" asp-controller="ProductDetails" asp-action="AddProduct" class="row" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="border p-3">

                    <input asp-for="ProductId" value="0" class="form-control border-0 shadow" hidden />

                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductName" class="form-control border-0 shadow border-0 shadow" />
                        <label asp-for="ProductName">Name <span class="text-danger h4">*</label>
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Description" class="form-control border-0 shadow" />
                        <label asp-for="Description">Description <span class="text-danger h4">*</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Price" class="form-control border-0 shadow border-0 shadow" />
                        <label asp-for="Price">Price <span class="text-danger h4">*</label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="StockQuantity" class="form-control border-0 shadow" />
                        <label asp-for="StockQuantity">StockQuantity <span class="text-danger h4">*</label>
                        <span asp-validation-for="StockQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for=ProductImg type="file" name="ProductImg" class="form-control border-0 shadow" accept="image/*" />
                        <label asp-for=ProductImg class="ms-2">Upload Product Picture<span class="text-danger h4">*</label>
                        <span asp-validation-for="ProductImg" class="text-danger"></span>
                    </div>
                    @* <div class="form-floating py-2 col-12"> *@
                    @*     <input asp-for="CategoryId" class="form-control border-0 shadow" /> *@
                    @*     <label asp-for="CategoryId">CategoryId <span class="text-danger h4">*</label> *@
                    @*     <span asp-validation-for="CategoryId" class="text-danger"></span> *@
                    @* </div> *@

                    <div class="form-floating py-2 col-12">
                        <select asp-for="CategoryId" asp-items="@ViewData["Category"] as IEnumerable<SelectListItem>" class="form-control border-0 shadow">
                            <option disabled value="">-- Select Category --</option>
                        </select>
                        <label asp-for="CategoryId">Category Name <span class="text-danger h4">*</label>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>


                    <div class="row mt-4 d-flex justify-content-center">
                        <div class="row col-12 ">
                            <a asp-area="Admin" asp-controller="ProductDetails" asp-action="Index" class="btn btn-dark border btn-md col-12 col-sm-6 p-2">Back To List</a>
                            <button type="submit" class="btn btn-primary border btn-md col-12 col-sm-6 p-2">Add Product</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
