@* <div> *@
@*     <h1> *@
@*         register page *@
@*     </h1> *@
@* </div> *@

@model Click_Cart.Models.User

@* @{ *@
@*     ViewData["Title"] = "Register"; *@
@* } *@

<div class="card shadow border-0 mt-4" style="margin-bottom:80px">
    <div class="card-header bg-primary bg-gradient ">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-center text-white">Register Employee</h1>
            </div>
        </div>

    </div>
    <div class="card-body p-4">
        <form asp-action="Index" method="post" class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="border p-3">

                <input asp-for="UserId" value="0" class="form-control border-0 shadow" hidden />

                <div class="form-floating py-2 col-12">
                    <input asp-for="UserName" class="form-control border-0 shadow border-0 shadow" />
                    <label asp-for="UserName">Name <span class="text-danger h4">*</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Email" class="form-control border-0 shadow" />
                    <label asp-for="Email">Email <span class="text-danger h4">*</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Password" class="form-control border-0 shadow border-0 shadow" />
                    <label asp-for="Password">Password <span class="text-danger h4">*</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Phone" class="form-control border-0 shadow" />
                    <label asp-for="Phone">Phone <span class="text-danger h4">*</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Address" class="form-control border-0 shadow" />
                    <label asp-for="Address">Address<span class="text-danger h4">*</label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <input asp-for="Role" value="User" class="form-control border-0 shadow" hidden />

                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn btn-primary col-12 btn-lg" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
